In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.metrics import euclidean_distances
from scipy import sparse

In [2]:
data = pd.read_csv('C:/Users/reraveen/Jupyter/Dataset/cust_product.csv',dtype={'CUSTOMER_NO': object})
#data = pd.read_csv('C:/Users/reraveen/Jupyter/Dataset/mlt_retail_cust_eng_history.csv',dtype={'CUSTOMER_NO': object})

In [3]:
data.head()

,CUSTOMER_NO,'CL_0101','CL_0102','CL_0103','CL_0104','CL_0105','CL_0106','CL_0107','CL_0108','CL_0109',...,'TD_122','TD_123','TD_124','TD_125','TD_321','TD_322','TD_323','TD_324','TD_325','TD_RDEP'
0,000000001,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,000000002,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,000000003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,000000004,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,000000005,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data.dtypes

CUSTOMER_NO    object
'CL_0101'       int64
'CL_0102'       int64
'CL_0103'       int64
'CL_0104'       int64
'CL_0105'       int64
'CL_0106'       int64
'CL_0107'       int64
'CL_0108'       int64
'CL_0109'       int64
'CL_0110'       int64
'CL_0111'       int64
'CL_0112'       int64
'CL_0113'       int64
'CL_0114'       int64
'CL_0115'       int64
'CL_0116'       int64
'CL_0117'       int64
'CL_0118'       int64
'CL_0119'       int64
'CL_0120'       int64
'CL_0121'       int64
'CL_0122'       int64
'CL_0123'       int64
'CL_0201'       int64
'CL_0202'       int64
'CL_0301'       int64
'CL_0401'       int64
'CL_0402'       int64
'CL_0403'       int64
'CL_0404'       int64
'TD_021'        int64
'TD_022'        int64
'TD_023'        int64
'TD_024'        int64
'TD_025'        int64
'TD_121'        int64
'TD_122'        int64
'TD_123'        int64
'TD_124'        int64
'TD_125'        int64
'TD_321'        int64
'TD_322'        int64
'TD_323'        int64
'TD_324'        int64
'TD_325'        int64
'TD_RDEP'       int64
dtype: object

In [5]:
data_items = data.drop('CUSTOMER_NO', 1)

In [6]:
data_items.head()

,'CL_0101','CL_0102','CL_0103','CL_0104','CL_0105','CL_0106','CL_0107','CL_0108','CL_0109','CL_0110',...,'TD_122','TD_123','TD_124','TD_125','TD_321','TD_322','TD_323','TD_324','TD_325','TD_RDEP'
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
data_items.shape

(280648, 46)

In [8]:
magnitude = np.sqrt(np.square(data_items).sum(axis=1))

In [9]:
data_items2 = data_items.divide(magnitude, axis='index')

In [10]:
data_items2.head()

,'CL_0101','CL_0102','CL_0103','CL_0104','CL_0105','CL_0106','CL_0107','CL_0108','CL_0109','CL_0110',...,'TD_122','TD_123','TD_124','TD_125','TD_321','TD_322','TD_323','TD_324','TD_325','TD_RDEP'
0,0.0,0.0,0.0,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.707107,0.0,0.707107,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.500000,0.0,0.500000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.707107,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
np.sqrt(np.sum(np.square(data_items2.loc[5])))

0.0

In [12]:
data_items2.fillna(0, inplace=True)

In [ ]:
sum(data_items2["'CL_0403'"])

In [13]:
def calculate_similarity(data_items):
    """Calculate the column-wise cosine similarity for a sparse
    matrix. Return a new dataframe matrix with similarities.
    """
    data_sparse = sparse.csr_matrix(data_items)
    similarities = cosine_similarity(data_sparse.transpose())
    sim = pd.DataFrame(data=similarities, index= data_items.columns, columns= data_items.columns)
    return sim

In [ ]:
#pairwise_distances(X, Y, metric='manhattan')

def calculate_similarity(data_items):
    """Calculate the column-wise euclidean_distances. Return a new dataframe matrix with similarities.
    """
    #data_sparse = sparse.csr_matrix(data_items)
    #data_items=data_items.transpose()
    print(data_items.shape[0])
    print(data_items.shape[1])
    #similarities = euclidean_distances(data_items)
    similarities = euclidean_distances(data_items,data_items)
    sim = pd.DataFrame(data=similarities)
    return sim

In [ ]:
data_sparse = sparse.csr_matrix(data_items2)

In [ ]:
similarities = euclidean_distances(data_items,data_items)

In [ ]:
X=np.array(data_items)
X

In [ ]:
from sklearn.neighbors import NearestNeighbors
import numpy as np
#X = np.array([[-1, -1], [-2, -1], [-3, -2], [1, 1], [2, 1], [3, 2]])
#X=np.array(data_items2)
nbrs = NearestNeighbors(n_neighbors=2, algorithm='ball_tree').fit(X)
distances, indices = nbrs.kneighbors(X)
indices

In [ ]:
distances

In [ ]:
from scipy.spatial.distance import pdist, squareform

distances = pdist(data_items2, metric='euclidean')
dist_matrix = squareform(distances)

In [ ]:
sum(data_items2.isna().sum())

In [14]:
data_matrix = calculate_similarity(data_items2)

In [15]:
data_matrix

,'CL_0101','CL_0102','CL_0103','CL_0104','CL_0105','CL_0106','CL_0107','CL_0108','CL_0109','CL_0110',...,'TD_122','TD_123','TD_124','TD_125','TD_321','TD_322','TD_323','TD_324','TD_325','TD_RDEP'
'CL_0101',1.000000,0.064699,0.019392,0.000396,0.000000,0.000000,0.000000,0.000166,0.000666,0.015078,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0102',0.064699,1.000000,0.002607,0.000000,0.000000,0.000000,0.000000,0.000382,0.000000,0.001390,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0103',0.019392,0.002607,1.000000,0.001726,0.000000,0.000000,0.000000,0.001537,0.000000,0.028974,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0104',0.000396,0.000000,0.001726,1.000000,0.111255,0.071512,0.027405,0.002210,0.015036,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0105',0.000000,0.000000,0.000000,0.111255,1.000000,0.028546,0.127004,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0106',0.000000,0.000000,0.000000,0.071512,0.028546,1.000000,0.459166,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0107',0.000000,0.000000,0.000000,0.027405,0.127004,0.459166,1.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0108',0.000166,0.000382,0.001537,0.002210,0.000000,0.000000,0.000000,1.000000,0.000000,0.001630,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0109',0.000666,0.000000,0.000000,0.015036,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0110',0.015078,0.001390,0.028974,0.000000,0.000000,0.000000,0.000000,0.001630,0.000000,1.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0111',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0112',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0113',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.225649,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0114',0.153384,0.031602,0.007140,0.000995,0.000000,0.000000,0.000000,0.000202,0.000160,0.007977,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0115',0.095435,0.207937,0.004063,0.000430,0.000000,0.000000,0.000000,0.000000,0.000237,0.001663,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0116',0.016031,0.003639,0.058864,0.000747,0.000000,0.000000,0.000000,0.000000,0.000000,0.041215,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0117',0.137814,0.046240,0.001030,0.000365,0.000000,0.000000,0.000000,0.000000,0.001366,0.001384,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0118',0.150592,0.035682,0.002598,0.001099,0.000000,0.000000,0.000000,0.000000,0.000095,0.004675,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0119',0.025548,0.007262,0.000000,0.000771,0.000000,0.000000,0.000000,0.000000,0.001687,0.008939,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0120',0.034885,0.004165,0.001463,0.002007,0.000000,0.000000,0.000000,0.000000,0.000000,0.009389,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0121',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0122',0.000000,0.000000,0.038250,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0123',0.032237,0.008554,0.005263,0.000466,0.000000,0.000000,0.000000,0.000000,0.000000,0.018851,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0201',0.041799,0.038701,0.000846,0.000000,0.000000,0.000000,0.000000,0.000000,0.000113,0.000931,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0202',0.000708,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0301',0.003412,0.002294,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0401',0.037069,0.027746,0.000147,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000234,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0402',0.027825,0.022520,0.000821,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000370,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0403',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'CL_0404',0.024200,0.024313,0.000460,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000336,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'TD_021',0.009718,0.003039,0.002510,0.014999,0.012188,0.006989,0.001555,0.000712,0.000250,0.003451,...,0.0,0.0,0.000000,0.0,0.016848,0.012646,0.0,0.005810,0.002234,0.0
'TD_022',0.002624,0.000527,0.000993,0.004103,0.007831,0.004611,0.005128,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.008025,0.019726,0.0,0.002686,0.003070,0.0
'TD_023',0.001737,0.000577,0.001484,0.192264,0.049812,0.016831,0.021699,0.000649,0.006153,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'TD_024',0.005426,0.002274,0.001346,0.131567,0.063273,0.040604,0.022961,0.000828,0.000567,0.000000,...,0.0,0.0,0.000000,0.0,0.004506,0.002007,0.0,0.005972,0.000975,0.0
'TD_025',0.001264,0.000598,0.001171,0.004145,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.003807,0.007449,0.0,0.000000,0.003619,0.0
'TD_121',0.002065,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'TD_122',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'TD_123',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'TD_124',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,1.000000,0.0,0.091371,0.000000,0.0,0.119438,0.000000,0.0
'TD_125',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'TD_321',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.091371,0.0,1.000000,0.131167,0.0,0.224812,0.022448,0.0
'TD_322',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.131167,1.000000,0.0,0.092898,0.236111,0.0
'TD_323',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0
'TD_324',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.119438,0.0,0.224812,0.092898,0.0,1.000000,0.188283,0.0
'TD_325',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.022448,0.236111,0.0,0.188283,1.000000,0.0
'TD_RDEP',0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0

In [16]:
def recommended_product(CustomerNo,data,DMatrix,Nproducts):
    data_items = data.drop('CUSTOMER_NO', 1)
    data_items2 = data_items.divide(magnitude, axis='index')
    user_index = data[data.CUSTOMER_NO == CustomerNo].index.tolist()[0]
    rating = data_items2.loc[user_index]
    known_user_likes = rating[rating >0].index.values
    recommend_set = rating[rating==0].index.values
    user_rating_vector = data_items2.loc[user_index]
    
    score = DMatrix.dot(user_rating_vector).div(DMatrix.sum(axis=1))
    
    recommend_products=score[recommend_set].nlargest(Nproducts)
    
    return recommend_products

In [20]:
data.dtypes

CUSTOMER_NO    object
'CL_0101'       int64
'CL_0102'       int64
'CL_0103'       int64
'CL_0104'       int64
'CL_0105'       int64
'CL_0106'       int64
'CL_0107'       int64
'CL_0108'       int64
'CL_0109'       int64
'CL_0110'       int64
'CL_0111'       int64
'CL_0112'       int64
'CL_0113'       int64
'CL_0114'       int64
'CL_0115'       int64
'CL_0116'       int64
'CL_0117'       int64
'CL_0118'       int64
'CL_0119'       int64
'CL_0120'       int64
'CL_0121'       int64
'CL_0122'       int64
'CL_0123'       int64
'CL_0201'       int64
'CL_0202'       int64
'CL_0301'       int64
'CL_0401'       int64
'CL_0402'       int64
'CL_0403'       int64
'CL_0404'       int64
'TD_021'        int64
'TD_022'        int64
'TD_023'        int64
'TD_024'        int64
'TD_025'        int64
'TD_121'        int64
'TD_122'        int64
'TD_123'        int64
'TD_124'        int64
'TD_125'        int64
'TD_321'        int64
'TD_322'        int64
'TD_323'        int64
'TD_324'        int64
'TD_325'        int64
'TD_RDEP'       int64
dtype: object

In [17]:
recommended_product('000000002',data,data_matrix,10)

'CL_0107'    0.206651
'TD_023'     0.103611
'CL_0105'    0.070615
'TD_024'     0.066337
'CL_0109'    0.010359
'TD_021'     0.009889
'TD_022'     0.004384
'TD_025'     0.002164
'CL_0108'    0.001266
'CL_0120'    0.001194
dtype: float64

In [18]:
recommended_product('000000005',data,data_matrix,10)

'TD_021'     0.149236
'TD_023'     0.138347
'CL_0105'    0.088156
'CL_0106'    0.048689
'TD_025'     0.038562
'TD_022'     0.030958
'CL_0107'    0.021391
'CL_0109'    0.010750
'CL_0120'    0.002663
'TD_324'     0.002575
dtype: float64

In [ ]:
CUSTOMER_NO = '000000001' # The id of the user for whom we want to generate recommendations
user_index = data[data.CUSTOMER_NO == CUSTOMER_NO].index.tolist()[0]

In [ ]:
user_index

In [ ]:
rating = data_items2.loc[user_index]

In [ ]:
rating

In [ ]:
known_user_likes = rating[rating >0].index.values

In [ ]:
known_user_likes

In [ ]:
recommend_set = rating[rating==0].index.values

In [ ]:
recommend_set

In [ ]:
user_rating_vector = data_items2.loc[user_index]

In [ ]:
user_rating_vector

In [ ]:
score = data_matrix.dot(user_rating_vector).div(data_matrix.sum(axis=1))

In [ ]:
score

In [ ]:
known_user_likes

In [ ]:
recommend_products=score[recommend_set].nlargest(20)

In [ ]:
print (recommend_products)

In [ ]:
score[recommend_set]

In [ ]:
data_matrix.loc["'CL_0403'"]

In [ ]:
data_matrix.shape

In [ ]:
customer_list=pd.Series(data['CUSTOMER_NO'].head(10))

In [ ]:
customer_list

In [ ]:
032059053

In [ ]:
recommended_product('032059584',data,data_matrix,3)

In [ ]:
recommended_product('000000034',data,data_matrix,3)