In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import NMF

In [7]:
V = np.array([[0,1,0,1,2,2],
              [2,3,1,1,2,2],
              [1,1,1,0,1,1],
              [0,2,3,4,1,1],
              [0,0,0,0,1,0]])

V = pd.DataFrame(V, columns=['John', 'Alice', 'Mary', 'Greg', 'Peter', 'Jennifer'])
V.index = ['Vegetables', 'Fruits', 'Sweets', 'Bread', 'Coffee']

nmf = NMF(3)
nmf.fit(V)

H = pd.DataFrame(np.round(nmf.components_,2), columns=V.columns)
H.index = ['Fruits pickers', 'Bread eaters',  'Veggies']

W = pd.DataFrame(np.round(nmf.transform(V),2), columns=H.index)
W.index = V.index

reconstructed = pd.DataFrame(np.round(np.dot(W,H),2), columns=V.columns)
reconstructed.index = V.index

In [3]:
reconstructed

            John  Alice  Mary  Greg  Peter  Jennifer
Vegetables  0.00   0.98  0.04  0.99   2.11      1.89
Fruits      2.01   2.84  1.23  0.87   2.08      2.07
Sweets      1.01   1.30  0.53  0.25   0.86      0.87
Bread       0.00   2.01  2.98  4.02   0.99      1.00
Coffee      0.00   0.21  0.00  0.20   0.45      0.41

In [4]:
V.index

Index(['Vegetables', 'Fruits', 'Sweets', 'Bread', 'Coffee'], dtype='object')

In [35]:
data = pd.read_csv('C:/Users/reraveen/Jupyter/Dataset/sampleData1.csv',dtype={'Customers': object})
data.index

RangeIndex(start=0, stop=6, step=1)

In [36]:
data_items = data.drop('Customers', 1)
data_items.index=data['Customers']
data_items

           Vegetables  Fruits  Sweets  Bread  Coffee
Customers
John                0       2       1      0       0
 Alice              1       3       1      2       0
Mary                0       1       1      3       0
Greg                1       1       0      4       0
Peter               2       2       1      1       1
Jennifer            2       2       1      1       0

In [37]:
V=data_items

In [38]:
nmf = NMF(3)
nmf.fit(V)

NMF(n_components=3)

In [39]:


H = pd.DataFrame(np.round(nmf.components_,2), columns=V.columns)
#H.index = V.index


W = pd.DataFrame(np.round(nmf.transform(V),2), columns=H.index)
W.index = V.index

reconstructed = pd.DataFrame(np.round(np.dot(W,H),2), columns=V.columns)
reconstructed.index = V.index

In [40]:
reconstructed.index

Index(['John', ' Alice', 'Mary ', 'Greg', 'Peter', 'Jennifer'], dtype='object', name='Customers')

In [41]:
reconstructed.head(10)

           Vegetables  Fruits  Sweets  Bread  Coffee
Customers
John             0.00    2.01    1.01   0.00    0.00
 Alice           0.97    2.84    1.31   2.00    0.20
Mary             0.04    1.23    0.53   2.97    0.00
Greg             0.98    0.85    0.25   4.01    0.20
Peter            2.10    2.06    0.86   1.00    0.45
Jennifer         1.89    2.05    0.87   0.99    0.40

In [45]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(V, reconstructed))
rms

0.19077910437641402