In [1]:
# Loading supporting packages
import numpy 
import pandas as pd
import scipy 
import matplotlib 
import pyreadline 
import sklearn
import cx_Oracle
import oml

In [2]:
# Connect to Oracle Database 
oml.connect(user='MLDEVLX1', password='MLDEVLX1', host='whf00atk.in.oracle.com', port=1521, service_name='MLPDB1')

# Verify that the connection exists.
oml.isconnected()

# Find out whether embedded execution is enabled in the database instance.
oml.check_embed()

# # Disconnect from the database.
# oml.disconnect()
# # Verify that the connection has been terminated.
# oml.isconnected()

True

In [3]:
# # Pushing data into DB
# nr_pd_df = pd.DataFrame({'numeric': [1, 1.4, -4, 3.145, 5, None],
#                       'string' : [None, None, 'a', 'a', 'a', 'b'],
#                       'bytes' : [b'a', b'b', b'c', b'c', b'd', b'e']})

# # Push the data set to a database table with the specified dbtypes for each column.
# nr_oml_df = oml.push(nr_pd_df, dbtypes = {'numeric': 'BINARY_DOUBLE','string':'CHAR(1)','bytes':'RAW(1)'})

# # Display the data type of oml_df.
# print(type(nr_oml_df))

# nr_oml_df.head()

In [4]:
# Accessing DB table via python object
oml_iris = oml.sync(table = 'DF_IRIS')

print(type(oml_iris))
print(oml_iris.head())
print(oml_iris.tail())

# dimesnions of data frame (Rows,Columns)
print(oml_iris.shape)

oml.dir()

<class 'oml.core.frame.DataFrame'>
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0           6.7          3.3           5.7          2.5  virginica
1           6.7          3.0           5.2          2.3  virginica
2           6.3          2.5           5.0          1.9  virginica
3           6.5          3.0           5.2          2.0  virginica
4           6.2          3.4           5.4          2.3  virginica
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0           6.9          3.1           5.4          2.1  virginica
1           6.7          3.1           5.6          2.4  virginica
2           6.9          3.1           5.1          2.3  virginica
3           5.8          2.7           5.1          1.9  virginica
4           6.8          3.2           5.9          2.3  virginica
(150, 5)

['oml_iris']

In [5]:
# How to sync all tables 
# oml.sync()
# oml.dir()

In [6]:
# # Create table in DB from python object

# # cr = oml.cursor()

# cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
#         'Price': [22000,25000,27000,35000]
#         }

# df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

# print (df)

# oml_df1 = oml.create(df, table = 'NR_CARS')

# # # Show the default SQL data types of the columns.
# # _ = cr.execute("select data_type from all_tab_columns where table_name =
# # 'NR_CARS'")
# # cr.fetchall()

In [7]:
# # Save python objects in DB (datastore)

# oml.ds.dir()

# nr_list = [1,2,3,4,5]

# oml.ds.save(objs={'A':1,'B':2,'C':3,'D':4,'E':5} ,name = "ds_pylist_nr", description = "NR python list")

# sorted(oml.ds.load("ds_pylist_nr"))

# # Describe the contents of the ds_pydata datastore.
# oml.ds.describe(name='ds_pylist_nr')

# # oml.ds.delete("ds_pylist_nr")

# oml.ds.dir()

In [8]:
# help(oml.DataFrame.corr)
# help(oml.esa)

In [3]:
# Python Script   -- example 2

# create function first
def f1():
    return "HEllO WORLD"

# create python in script repo by 'oml.script.create' command
oml.script.create("NR_2",            # Script Name
                  func=f1,           # Function Name
                  is_global=False,   # Global script ?
                  overwrite=True)    # Overwrite ?

# Script Execution
res = oml.do_eval("NR_2")
print(res)
print(res.pull())

'HEllO WORLD'
HEllO WORLD

In [4]:
# Python Script   -- example 3

# create function first
def return_frame():
    import numpy as np
    import pickle
    z = np.array([y for y in zip([str(x)+"demo" for x in range(10)],
                [float(x)/10 for x in range(10)],
                [x for x in range(10)],
                [bool(x%2) for x in range(10)],
                [pickle.dumps(x) for x in range(10)],
                ["test"+str(x**2) for x in range(10)])],
            dtype=[("a", "U10"), ("b", "f8"), ("c", "i4"),
                    ("d", "?"), ("e", "S20"), ("f", "O")])
    return z

print("function res: \n",return_frame())

# create python in script repo by 'oml.script.create' command
oml.script.create("NR_3",            # Script Name
                  func=return_frame, # Function Name
                  is_global=False,   # Global script ?
                  overwrite=True)    # Overwrite ?

# Script Execution
res = oml.do_eval("NR_3")
print("\nscript res: \n",res)

function res:
 [('0demo', 0. , 0, False, b'\x80\x03K\x00.', 'test0')
 ('1demo', 0.1, 1,  True, b'\x80\x03K\x01.', 'test1')
 ('2demo', 0.2, 2, False, b'\x80\x03K\x02.', 'test4')
 ('3demo', 0.3, 3,  True, b'\x80\x03K\x03.', 'test9')
 ('4demo', 0.4, 4, False, b'\x80\x03K\x04.', 'test16')
 ('5demo', 0.5, 5,  True, b'\x80\x03K\x05.', 'test25')
 ('6demo', 0.6, 6, False, b'\x80\x03K\x06.', 'test36')
 ('7demo', 0.7, 7,  True, b'\x80\x03K\x07.', 'test49')
 ('8demo', 0.8, 8, False, b'\x80\x03K\x08.', 'test64')
 ('9demo', 0.9, 9,  True, b'\x80\x03K\t.', 'test81')]

script res:
 array([('0demo', 0. , 0, False, b'\x80\x03K\x00.', 'test0'),
       ('1demo', 0.1, 1,  True, b'\x80\x03K\x01.', 'test1'),
       ('2demo', 0.2, 2, False, b'\x80\x03K\x02.', 'test4'),
       ('3demo', 0.3, 3,  True, b'\x80\x03K\x03.', 'test9'),
       ('4demo', 0.4, 4, False, b'\x80\x03K\x04.', 'test16'),
       ('5demo', 0.5, 5,  True, b'\x80\x03K\x05.', 'test25'),
       ('6demo', 0.6, 6, False, b'\x80\x03K\x06.', 'test36'),
       ('7demo', 0.7, 7,  True, b'\x80\x03K\x07.', 'test49'),
       ('8demo', 0.8, 8, False, b'\x80\x03K\x08.', 'test64'),
       ('9demo', 0.9, 9,  True, b'\x80\x03K\t.', 'test81')],
      dtype=[('a', '<U10'), ('b', '<f8'), ('c', '<i4'), ('d', '?'), ('e', 'S20'), ('f', 'O')])

In [5]:
# Python Script   -- example 4

# create function first
func = lambda: "Hello World from a lambda!"
print(func)


#  x="some kind of a useless lambda"
# >>> (lambda x : print(x))(x)
# # def myfunc(n):
# #     return lambda a : a * n

# create python in script repo by 'oml.script.create' command
oml.script.create("NR_4",            # Script Name
                  func=func,         # Function Name
                  is_global=False,   # Global script ?
                  overwrite=True)    # Overwrite ?

# Script Execution
print(oml.do_eval("NR_4"))

<function <lambda> at 0x000001C671F22948>
'Hello World from a lambda!'

In [22]:
# print(oml.do_eval("NR_4"))
# print(oml.do_eval("NR_4"))
# print(oml.do_eval("NR_2"))
# print(oml.do_eval("NR_1"))
# print(oml.do_eval("NR_3"))

'Hello World from a lambda!'
'Hello World from a lambda!'
'HEllO WORLD'
5
array([('0demo', 0. , 0, False, b'\x80\x03K\x00.', 'test0'),
       ('1demo', 0.1, 1,  True, b'\x80\x03K\x01.', 'test1'),
       ('2demo', 0.2, 2, False, b'\x80\x03K\x02.', 'test4'),
       ('3demo', 0.3, 3,  True, b'\x80\x03K\x03.', 'test9'),
       ('4demo', 0.4, 4, False, b'\x80\x03K\x04.', 'test16'),
       ('5demo', 0.5, 5,  True, b'\x80\x03K\x05.', 'test25'),
       ('6demo', 0.6, 6, False, b'\x80\x03K\x06.', 'test36'),
       ('7demo', 0.7, 7,  True, b'\x80\x03K\x07.', 'test49'),
       ('8demo', 0.8, 8, False, b'\x80\x03K\x08.', 'test64'),
       ('9demo', 0.9, 9,  True, b'\x80\x03K\t.', 'test81')],
      dtype=[('a', '<U10'), ('b', '<f8'), ('c', '<i4'), ('d', '?'), ('e', 'S20'), ('f', 'O')])

In [11]:
print(oml.do_eval("tmpqfun2"))
print(oml.do_eval("nr_tmpqfun2"))

'Hello World from a lambda!'
'hello World'

In [13]:
oml.disconnect()

In [12]:
oml.script.dir(sctype="all")

,owner,name,script,description,date
0,MLDEVLX1,NR_2,"def f1():\n return ""HEllO WORLD""\n",None,2020-04-03 12:06:04
1,MLDEVLX1,NR_3,def return_frame():\n import numpy as np\n ...,None,2020-04-06 12:07:36
2,MLDEVLX1,NR_4,"func = lambda: ""Hello World from a lambda!""\n",None,2020-04-06 12:29:38
3,MLDEVLX1,nr_tmpqfun2,"def f1(): \n return ""hello World""\n...",None,2020-05-15 12:28:10
4,MLDEVLX1,tmpqfun2,"func = lambda: ""Hello World from a lambda!""",None,2020-05-15 12:24:23
5,PYQSYS,NR_1,def f1():\n a = 2\n b = 3\n c = a+b\n...,None,2020-04-02 16:26:42

In [ ]:
oml.isconnected()

In [ ]:
# def f1():
#     a = 2
#     b = 3
#     c = a+b
#     return c
# oml.script.create("NR_1", func=f1, is_global=False, overwrite=True)
# res = oml.do_eval("NR_1")
# print(res.pull())

In [ ]:
oml.script.drop("NR_5")

In [ ]:
oml.script.dir(sctype='global')  #'user'

In [ ]:
# oml.ds.dir()

In [ ]:
# # Define a function.
# def build_lm1(dat):
#     from sklearn import linear_model
#     regr = linear_model.LinearRegression()
#     import pandas as pd
#     dat = pd.get_dummies(dat, drop_first=True)
#     X = dat[["Sepal_Width", "Petal_Length", "Petal_Width",
#             "Species_versicolor", "Species_virginica"]]
#     y = dat[["Sepal_Length"]]
#     regr.fit(X, y)
#     return regr

# # Create a private script.
# oml.script.create("MYLM", func=build_lm1)
# # Evaluate the script through embedded Python

In [ ]:
oml.script.drop("MyGlobalLM_function", is_global=True